[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock="*"
pytest-cov = "*"
pytest-mock = "*"
pytest-asyncio = "*"
asynctest = "*"
dpytest = ">= 0.0.22"

[packages]
python-dotenv = "*"
flake8 = "*"
discord-py = "==1.4.1"
pyyaml = "*"

[requires]
python_version = "3.8"
